header{
    background-color: #cc1313; /* Muda a cor do fundo da header */
    color: antiquewhite; /* Muda a cor do texto da header */
    text-align: center;  /* Muda o alinhamento do texto da header */
    font-size: 6rem; /* Muda o tamanho do texto da header */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

 *{
    margin: 0;
    padding: 0;
 }

 nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px; /* Ajusta o espaçamento horizontal entre as palavras*/
    height: 88px; /* Ajusta o espaçamento vertical das palavras com o header*/
    justify-content: center;
    background-color: #cc1313;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: antiquewhite;
    font-size: 17px;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    z-index: 2;
}

a:hover {
    background-color: white;
    color: #cc1313; /* A cor do fundo da header, pra contrastar */
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}

h1{
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
}

p{
  padding-left: 5%;
  padding-top: 3%;
  padding-right: 5%;
  text-align: justify;
}

h2, h3, ul, ol{
    padding-left: 5%;
    padding-top: 3%;
}

td, th {
    padding: 1%;
    border: 3px solid #000000;
    text-align: center;
  }
  
  th{
    /*background-color: #EEE;*/
  }
  td{
    font-weight:bold;
    /*background-color: #EEE;*/
  }
  
  table{
    width: 70%;

    margin: 0 auto;
    margin-top: 3%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }

  h2 + ul a {
    color: rgb(44, 25, 255);
  }
  
  img{
    padding-top: 3%;
  }

  body{
    background-image: url(fundo.png);
    background-size: cover;
    background-position: center;
}

.container {
    background-color: white;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }